  <!-- Contact -->
  <div class="w3-container" id="contact" >
    <h1 class="w3-xxxlarge w3-text-red"><b>Loging.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <form >
      <div class="w3-section">
        <label>Email</label>
        <input  placeholder="email" class="w3-input w3-border" type="email" name="email" required>
      </div>
      <div class="w3-section">
        <label>Password</label>
        <input   placeholder="Password" class="w3-input w3-border" type="password" name="password" required>
      </div>

      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Login</button>
    </form>
  </div>

<!-- End page content -->
